# Limpieza, transformación y valoración de cálculo de indicadores SEPIID

 Análisis de datos exploratorio de los registros administrativos de: 
- Uso de salas de lactancia julio-dic 2024
- Seguro de gastos médicos mayores 

### Objectivos
Transformar las variables claves
Estadísticas descriptivas
Aglomerar las columnas que se requieren para el cálculo de los siguientes indicadores:

1. Porcentaje de mujeres y de hombres que tienen acceso a prestaciones laborales e institucionales relacionadas con la conciliación corresponsable (acceso a trámites) 
2. Tiempo destinado al uso de las salas de lactancia



https://docs.google.com/spreadsheets/d/17GZsKvYDVkK2Wo5ydhHyoCs4bDcrg-VInfmoyuxEaPI/edit?gid=404889619#gid=404889619

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

## Uso de salas de lactancias durante el segundo semestre 2024

In [2]:
salas = pd.read_csv('/Users/karlacruz/Desktop/MIDI/BD/SalasLactancia.csv')

In [5]:
salas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1064 entries, 0 to 1063
Data columns (total 17 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0                         1064 non-null   int64
 1   N°                                 1063 non-null   float64
 2   Mes                                1064 non-null   object
 3   Entidad federativa                 1064 non-null   object
 4   Nombre del edificio                1064 non-null   object
 5   Ubicacion de la sala de lactancia  1064 non-null   object
 6   Nombre Completo de la usuaria      1064 non-null   object
 7   Cargo                              1064 non-null   object
 8   Adscripción/Procedencia            1064 non-null   object
 9   Edad de la persona                 1064 non-null   object
 10  Genero                             1064 non-null   object
 11  Edad en meses  del/a bebé          1064 non-null   object
 12  Fecha (DD/MM/AAAA)                 1064 non-null   object
 13  Hora de entrada                    1064 non-null   object
 14  Hora de Salida                     1064 non-null   object
 15  Tiempo de estancia en sala         1064 non-null   object
 16  Observaciones                      1064 non-null   object
dtypes: float64(1), int64(1), object(15)
memory usage: 141.4+ KB

In [7]:
for col in salas.select_dtypes(include=['object']).columns:
    print(f"--- {col} ---")
    print(salas[col].value_counts(dropna=False))
    print("\n")

--- Mes ---
Mes
NOVIEMBRE     239
DICIEMBRE     200
JULIO         189
AGOSTO        184
OCTUBRE       145
SEPTIEMBRE    107
Name: count, dtype: int64


--- Entidad federativa ---
Entidad federativa
CIUDAD DE MEXICO       337
ESTADO DE MEXICO       186
OAXACA                 149
SINALOA                112
DURANGO                 65
CHIHUAHUA               34
VERACRUZ                29
YUCATAN                 22
MICHOACAN               20
COAHUILA                19
NAYARIT                 19
JALISCO                 16
PUEBLA                  13
QUINTANA ROO            11
CAMPECHE                10
BAJA CALIFORNIA SUR      9
TAMAULIPAS               6
BAJA CALIFORNIA          3
SONORA                   2
MORELOS                  1
SAN LUIS POTOSI          1
Name: count, dtype: int64


--- Nombre del edificio ---
Nombre del edificio
EDIFICIO SEDE, SAN BARTOLO COYOTEPEC OAX                                                                                                                                                              128
REVOLUCION 1508                                                                                                                                                                                       119
EDIFICIO SEDE MAZATLAN                                                                                                                                                                                112
SEDE TOLUCA                                                                                                                                                                                            91
EDIFICIO SEDE EN DURANGO                                                                                                                                                                               65
INSTITUTO FEDERAL DE DEFENSORIA PUBLICA                                                                                                                                                                60
EDIFICIO SEDE NEZAHUALCOYOTL                                                                                                                                                                           58
PERIFERICO 2321                                                                                                                                                                                        43
AJUSCO 170                                                                                                                                                                                             42
EDIFICIO NAUCALPAN                                                                                                                                                                                     37
SEDE XALAPA                                                                                                                                                                                            29
EDIFICIO SEDE JUAREZ, CH                                                                                                                                                                               25
EDIFICIO SEDE MERIDA                                                                                                                                                                                   22
EDIFICIO SEDE MORELIA                                                                                                                                                                                  20
TRIBUNAL LABORAL DE ASUNTOS INDIVIDUALES                                                                                                                                                               20
CENTRO DE JUSTICIA PENAL FEDERAL , TEPIC, NAYARIT                                                                                                                                                      19
FLORIDA                                                                                                                                                                                                17
CIUDAD JUDICIAL, ZAPOPAN                                                                                                                                                                               16
PRISMA                                                                                                                                                                                                 15
PERIFERICO SUR 1950                                                                                                                                                                                    13
AJUSCO 200                                                                                                                                                                                             13
SEDE CHOLULA                                                                                                                                                                                           13
EDIFICIO SEDE CANCUN                                                                                                                                                                                   11
CABALLITO DE MAR                                                                                                                                                                                       10
EDIFICIO SEDE LA PAZ BCS                                                                                                                                                                                9
EDIFICIO SEDE CHIHUAHUA, CH                                                                                                                                                                             9
CENTRO DE JUSTICIA PENAL FEDERAL, TORREON COAHUILA                                                                                                                                                      7
TOLIMA 29                                                                                                                                                                                               7
SEDE SALTILLO                                                                                                                                                                                           6
CENTRO DE JUSTICIA PENAL FEDERAL, TAMAULIPAS                                                                                                                                                            6
LOS PASTORES                                                                                                                                                                                            6
EDIFICIO SEDE SAN LAZARO                                                                                                                                                                                6
TORRE ZENTRUM                                                                                                                                                                                           3
PRONAF                                                                                                                                                                                                  2
PERIFERICO SUR 1950    COL. TLACOPAC, ALCALDIA ALVARO OBREGON,           C.P. 01049, EN LA CIUDAD DE MEXICO. EDIFICIO SEDE DEL PODER JUDICIAL DE LA FEDERACION, PERIFERICO SUR 1950, P.B. ALA SUR.      2
SEDE SLP                                                                                                                                                                                                1
EDIFICIO SEDE CUERNAVACA                                                                                                                                                                                1
TRIBUNALES EN MATERIA CIVIL Y ADMINISTRATIVA                                                                                                                                                            1
Name: count, dtype: int64


--- Ubicacion de la sala de lactancia ---
Ubicacion de la sala de lactancia
EDIF SEDE PJF SN BARTOLO COY. OAX.                                                                                                 128
AV. REVOLUCION NO. 1508, COL. GUADALUPE INN, ALCALDIA ALVARO OBREGON, CIUDAD DE MEXICO, C.P. 01020                                 119
AV. DR. NICOLAS SAN JUAN NO. 104, COL. LA MAGDALENA, C.P. 50010 TOLUCA, ESTADO DE MEXICO.                                           91
BLVD. JOSE MARIA PATONI NO.103 "A", COLONIA PREDIO EL TULE, DURANGO, DURANGO, C.P. 34217                                            65
BUCARELI 22 Y 24, COL. CENTRO, ALCALDIA CUAUHTEMOC, CIUDAD DE MEXICO, C.P. 06040.                                                   60
AV. OLAS ALTAS 1300, COL. CENTRO                                                                                                    59
PRIMER PISO TORRE A DEL EDIFICIO SEDE NEZAHUALCOYOTL                                                                                58
AV. OLAS ALTAS 1300, COL. CENTRO.                                                                                                   53
BLVD. ADOLFO LOPEZ MATEOS 2321, COLONIA SAN ANGEL TLACOPAC, C.P.01760, CDMX                                                         43
CARRETERA PICACHO AJUSCO 170, COLONIA JARDINES DE LA MONTANA, C.P. 14210, DEMARCACION TERRITORIAL TLALPAN                           42
BOULEVARD TOLUCA NO. 4 EN NAUCALPAN                                                                                                 37
AV. CULTURAS VERACRUZANAS N° 120  COL. RESERVA TERRITORIAL  C.P. 91096  EDIFICIO SEDE                                               29
AV. TECNOLOGICO NO. 1670, COL. FUENTES DEL VALLE, CD JUAREZ, CHIHUAHUA. C.P. 32500.                                                 25
CALLE 47 NO. 575H POR 84 Y 84A, COL. SANTA PETRONILA, MERIDA, YUCATAN C.P. 97070.                                                   22
INMUEBLE DEL PJF EN AV. INDEPENDENCIA OAXACA; OAX.                                                                                  20
EDIFICIO SEDE, PERIFERICO PASEO DE LA REPUBLICA (SECTOR NUEVA ESPANA) 3550, COLONIA 5 DE DICIEMBRE , CP 58280 MORELIA MICHOACAN     20
AVENIDA AGUAMILPA N° 275, COLONIA CIUDAD INDUSTRIAL, CP 63173, TEPIC, NAYARIT.                                                      19
AV. INSRUGENTES SUR # 1888, COL. FLORIDA, ALCALDIA ALVARO OBREGON, C.P.01030, CIUDAD DE MEXICO                                      17
AVENIDA INSURGENTES SUR 2065                                                                                                        15
ANILLO PERIFERICO PTE. MANUEL GOMEZ MORIN N° 7727, COL. FRACC. CIUDAD JUDICIAL FEDERAL                                              15
PERIFERICO SUR 1950, COL. TLACOPAC, ALCALDIA ALVARO OBREGON, C.P. 01049, CDMX. P.B. ALA SUR                                         15
CARRETERA PICACHO AJUSCO 200, COLONIA JARDINES DE LA MONTANA, C.P. 14210, DEMARCACION TERRITORIAL TLALPAN                           13
AVENIDA OSA MENOR NO. 82, CIUDAD JUDICIAL SIGLO XXI, SAN ANDRES CHOLULA, PUEBLA, C.P. 72810.                                        13
AVENIDA ANDRES QUINTANA ROO, N° 245, SM. 50, MZ57, L 01, C.P. 77534, CANCUN QUINTANA ROO. TORRE A, PLANTA BAJA                      11
CALLE CABALLITO DE MAR 34, COL. PLAYA NORTE, CIUDAD DEL CARMEN, CAMPECHE, C.P. 24115.                                               10
AV. MIRADOR 6500 RESIDENCIAL CAMPESTRE WASHINGTON C.P. 31213                                                                         9
CONCHA NACAR 4520 COL EL CONCHALITO C.P. 23090                                                                                       9
BLVD. DE LOS GRANDES PINTORES N° 1705-A, COLONIA DESARROLLO CIUDAD NAZAS SAN ANTONIO, CP 27058, TORREON, COAHUILA                    7
CALLE PICO DE TOLIMA 29, COLONIA JARDINES DE LA MONTANA, C.P. 14215, DEMARCACION TERRITORIAL TLALPAN                                 7
BOULEVARD NAZARIO ORTIZ GARZA, NO. 910, COL. SALTILLO 400, C.P. 25290                                                                6
BOULEVARD LOS PASTORES, NO. 2900, COL. LA PALMILLA, C.P. 25298, SALLTILLO                                                            6
BLVD FIDEL VELAZQUEZ N° 1455, COL. ADOLFO LOPEZ MATEOS C.P. 87020, CD. VICTORIA, TAMAULIPAS                                          6
EDUARDO MOLINA NO. 2, COL. DEL PARQUE, VENUSTIANO CARRANZA, C.P. 15960, CIUDAD DE MEXICO                                             6
DR. ATL NO. 2084, ZONA RIO, C.P. 22010                                                                                               3
CALLE OCHOA NUMERO 60 ENTRE AVENIDA PLUTARCO ELIAS CALLES Y ADOLFO LOPEZ MATEOS, COLONIA CENTRO CP 84000, NOGALES, SONORA.           2
PLANTA BAJA UBICADA EN EL ALA A                                                                                                      1
BOULEVARD DEL LAGO NUMERO 103 (TORRE A, PB), COLONIA VILLAS DEPORTIVAS, C.P. 62370, CUERNAVACA, MORELOS.                             1
ANILLO PERIFERICO PTE. MANUEL GOMEZ MORIN NO. 7727 COL. FRACC. CIUDAD JUDICIAL FEDERAL                                               1
INMUEBLE DEL PJF EN AV. JUAREZ OAXACA; OAX.                                                                                          1
Name: count, dtype: int64


--- Nombre Completo de la usuaria ---
Nombre Completo de la usuaria
WMGQ     59
AGUV     58
AKDM     54
MTCV     51
DLMS     47
         ..
ARMA      1
MAH       1
LVIMG     1
VMVC      1
SSSAC     1
Name: count, Length: 81, dtype: int64


--- Cargo ---
Cargo
OFICIAL JUDICIAL C                    289
OFICIAL                                99
SECRETARIA DE JUZGADO                  80
OFICIAL JUDICIAL                       68
OFICIAL ADMINISTRATIVO                 60
JEFA DE DEPARTAMENTO                   58
POLICIA                                54
OPERADORA                              51
CORDINADOR TECNICO                     38
TECNICA ESPECIALIZADA                  37
OFICIAL JUDICIAL C.                    30
ANALISTA JURIDICO SISE                 29
SECRETARIA                             24
ANALISTA                               23
SECRETARIA INSTRUCTORA                 19
TECNICO DE ENLACE                      16
SIN DATO                               12
OFICIAL JUCIAL C                       10
OFICIAL JUDICIAL A                      9
AUXILIAR DE SERVICIOS GENERALES         7
SUPERVISORA DE CECOM                    6
COORDINADORA TECNICA                    6
TECNICA DE VIDEOGRABACION               6
SUBDIRECTORA DE AREA                    5
AUXILIAR DE SERVICIOS                   5
DEFENSORA PUBLICA FEDERAL               5
TECNICA DE ENLACE                       3
DEFENSOR PUBLICO                        2
ANALISTA ADMINISTRATIVA                 2
OFICIAL ADMIN                           2
-                                       1
SECRETARIA TRIBUNAL                     1
CTA                                     1
SUBADMINISTRADORA                       1
SECRETARIA DE TRIBUNAL                  1
TECNICO ESPECIALIZADA                   1
CORRDINADORA TECNICA ADMIISTRATIVA      1
COORDINADORA TECNICA B                  1
PUBLICO                                 1
Name: count, dtype: int64


--- Adscripción/Procedencia ---
Adscripción/Procedencia
ADMINISTRACION                                                           94
1ER. TRIB. COL. EN MAT. CIVIL XII CTO.                                   65
PERSONAL DE CORPORACION DE SEGURIDAD                                     54
SHARP                                                                    51
1ER. TRIBUNAL COLEGIADO MAT. CIVIL XII CTO.                              47
                                                                         ..
1° AUXILIAR                                                               1
5° TRIBUNAL COLEGIADO EN MATERIA DE TRABAJO                               1
1ER TRIBUNAL COLEGIADO EN MATERIA DE TRABAJO DEL DECIMOCTAVO CIRCUITO     1
JUZGADO 5TO DE DISTRITO EN EL EDO. DE CHIHUAHUA                           1
SEGUNDO TRIBUNAL COLEGIADO EN MATERIAS CIVIL Y ADMINISTRATIVA             1
Name: count, Length: 79, dtype: int64


--- Edad de la persona ---
Edad de la persona
36          159
32          127
30          105
37           81
26           79
28           64
29           64
40           61
31           54
33           53
35           49
34           41
24           31
25           24
38           22
39           20
41            9
27            8
44            7
SIN DATO      3
22            2
45            1
Name: count, dtype: int64


--- Genero ---
Genero
FEMENINO     1061
MASCULINO       3
Name: count, dtype: int64


--- Edad en meses  del/a bebé ---
Edad en meses  del/a bebé
3       187
4       112
7        80
8        72
5        61
       ...
3.7       1
11.4      1
11.8      1
1         1
6.9       1
Name: count, Length: 89, dtype: int64


--- Fecha (DD/MM/AAAA) ---
Fecha (DD/MM/AAAA)
2024-11-19    18
2024-07-05    18
2024-12-04    17
2024-08-09    16
2024-12-03    16
              ..
2024-08-10     1
2024-11-01     1
2024-10-13     1
2024-10-01     1
2024-08-17     1
Name: count, Length: 151, dtype: int64


--- Hora de entrada ---
Hora de entrada
13:00:00    76
14:00:00    54
12:00:00    51
12:30:00    37
17:00:00    29
            ..
05:44:00     1
05:30:00     1
08:50:00     1
18:20:00     1
19:15:00     1
Name: count, Length: 289, dtype: int64


--- Hora de Salida ---
Hora de Salida
13:30:00    54
14:30:00    44
13:00:00    39
12:30:00    38
13:20:00    28
            ..
18:10:00     1
06:20:00     1
19:20:00     1
19:21:00     1
19:31:00     1
Name: count, Length: 307, dtype: int64


--- Tiempo de estancia en sala ---
Tiempo de estancia en sala
00:30:00    273
00:20:00    157
00:25:00     68
00:15:00     65
00:35:00     51
00:40:00     38
00:22:00     28
00:23:00     22
00:21:00     21
00:28:00     20
00:31:00     19
00:45:00     18
00:24:00     17
00:27:00     17
00:33:00     17
00:18:00     16
01:00:00     15
SIN DATO     15
00:16:00     15
00:32:00     13
00:50:00     13
00:19:00     13
00:38:00     13
00:26:00     12
00:34:00      9
00:10:00      9
00:12:00      7
00:17:00      7
00:29:00      7
00:55:00      6
00:37:00      6
00:47:00      5
00:53:00      4
00:48:00      4
00:14:00      4
00:41:00      4
00:36:00      4
00:57:00      3
00:58:00      3
01:03:00      2
00:13:00      2
00:54:00      2
00:39:00      2
00:44:00      2
00:52:00      2
00:08:00      2
00:46:00      2
00:43:00      2
00:59:00      1
01:09:00      1
02:16:00      1
00:56:00      1
00:00:00      1
01:55:00      1
00:49:00      1
00:42:00      1
Name: count, dtype: int64


--- Observaciones ---
Observaciones
NAN                           1060
CAMBIADOR DE PANAL               1
ESTA TAPADO EL LAVABO            1
EL OLOR A PINTURA ES FATAL       1
NO HABIA SERVICIO DE AGUA        1
Name: count, dtype: int64

In [9]:
#convierte de obj to str la columna Nombre, y se cambia de nombre usuarias 
salas['usuarias'] = salas['Nombre Completo de la usuaria'].fillna('').astype(str).str.strip()

In [11]:
#Crear un IDunico para las usuarias
#002 responde al segundo semestre del año
salas['id_usuarias'] = '002' + salas['usuarias'] + '2024'

In [13]:
#Verifica
salas[[ 'usuarias', 'Nombre Completo de la usuaria', 'id_usuarias']].head(-1)

     usuarias Nombre Completo de la usuaria   id_usuarias
0        AKCO                          AKCO   002AKCO2024
1        AKCO                          AKCO   002AKCO2024
2        AKCO                          AKCO   002AKCO2024
3         DGL                           DGL    002DGL2024
4        AKCO                          AKCO   002AKCO2024
...       ...                           ...           ...
1058    ALRUP                         ALRUP  002ALRUP2024
1059    ALRUP                         ALRUP  002ALRUP2024
1060    ALRUP                         ALRUP  002ALRUP2024
1061    ALRUP                         ALRUP  002ALRUP2024
1062     LBRG                          LBRG   002LBRG2024

[1063 rows x 3 columns]

In [15]:
#cambiar formato de bases
pd.to_datetime(salas['Fecha (DD/MM/AAAA)'], format='%d/%m/%Y', errors='coerce')

0      NaT
1      NaT
2      NaT
3      NaT
4      NaT
        ..
1059   NaT
1060   NaT
1061   NaT
1062   NaT
1063   NaT
Name: Fecha (DD/MM/AAAA), Length: 1064, dtype: datetime64[ns]

In [17]:
salas['Edad'] = pd.to_numeric(salas['Edad de la persona'], errors='coerce')
salas['Tiempo de estancia en sala'] = pd.to_timedelta(salas['Tiempo de estancia en sala'], errors='coerce')

In [19]:
salas['duracion'] = salas['Tiempo de estancia en sala'].dt.total_seconds() / 3600

In [21]:
salas['Año'] = 2024

In [23]:
# Definir los intervalos y etiquetas
bins = [20, 30, 40, 50, 100]
labels = ['21-30', '31-40', '41-50', '51+']
# Crear variable categórica
salas['grup_edad'] = pd.cut(salas['Edad'], bins=bins, labels=labels)

In [25]:
salas.describe()

,Unnamed: 0,N°,Tiempo de estancia en sala,Edad,duracion,Año
count,1064.000000,1063.000000,1049,1061.000000,1049.000000,1064.0
mean,531.500000,532.770461,0 days 00:28:22.135367016,32.564562,0.472815,2024.0
std,307.294647,307.312566,0 days 00:10:49.978285587,4.445565,0.180550,0.0
min,0.000000,1.000000,0 days 00:00:00,22.000000,0.000000,2024.0
25%,265.750000,267.500000,0 days 00:20:00,29.000000,0.333333,2024.0
50%,531.500000,533.000000,0 days 00:30:00,32.000000,0.500000,2024.0
75%,797.250000,798.500000,0 days 00:31:00,36.000000,0.516667,2024.0
max,1063.000000,1064.000000,0 days 02:16:00,45.000000,2.266667,2024.0

In [27]:
variables = [
'Año',
'Mes',
'Entidad federativa',
'Nombre del edificio',
'id_usuarias',
'Ubicacion de la sala de lactancia',
'Edad',
'grup_edad',
'Genero',
'duracion',
'Fecha (DD/MM/AAAA)'
]

In [29]:
df = salas[variables]

In [31]:
df.head()

,Año,Mes,Entidad federativa,Nombre del edificio,id_usuarias,Ubicacion de la sala de lactancia,Edad,grup_edad,Genero,duracion,Fecha (DD/MM/AAAA)
0,2024,JULIO,CIUDAD DE MEXICO,AJUSCO 170,002AKCO2024,"CARRETERA PICACHO AJUSCO 170, COLONIA JARDINES...",30.0,21-30,FEMENINO,0.266667,2024-07-02
1,2024,JULIO,CIUDAD DE MEXICO,AJUSCO 170,002AKCO2024,"CARRETERA PICACHO AJUSCO 170, COLONIA JARDINES...",30.0,21-30,FEMENINO,0.333333,2024-07-03
2,2024,JULIO,CIUDAD DE MEXICO,AJUSCO 170,002AKCO2024,"CARRETERA PICACHO AJUSCO 170, COLONIA JARDINES...",30.0,21-30,FEMENINO,0.333333,2024-07-04
3,2024,JULIO,CIUDAD DE MEXICO,AJUSCO 170,002DGL2024,"CARRETERA PICACHO AJUSCO 170, COLONIA JARDINES...",33.0,31-40,FEMENINO,0.333333,2024-07-04
4,2024,JULIO,CIUDAD DE MEXICO,AJUSCO 170,002AKCO2024,"CARRETERA PICACHO AJUSCO 170, COLONIA JARDINES...",30.0,21-30,FEMENINO,0.316667,2024-07-05

In [33]:

print(df.isnull().sum())

Año                                   0
Mes                                   0
Entidad federativa                    0
Nombre del edificio                   0
id_usuarias                           0
Ubicacion de la sala de lactancia     0
Edad                                  3
grup_edad                             3
Genero                                0
duracion                             15
Fecha (DD/MM/AAAA)                    0
dtype: int64

In [35]:
#se borran los valores nan que no tieneb tiempo de duración (variable de interés)
df = df.dropna()

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1049 entries, 0 to 1063
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Año                                1049 non-null   int64
 1   Mes                                1049 non-null   object
 2   Entidad federativa                 1049 non-null   object
 3   Nombre del edificio                1049 non-null   object
 4   id_usuarias                        1049 non-null   object
 5   Ubicacion de la sala de lactancia  1049 non-null   object
 6   Edad                               1049 non-null   float64
 7   grup_edad                          1049 non-null   category
 8   Genero                             1049 non-null   object
 9   duracion                           1049 non-null   float64
 10  Fecha (DD/MM/AAAA)                 1049 non-null   object
dtypes: category(1), float64(2), int64(1), object(7)
memory usage: 91.4+ KB

In [39]:
for col in df.select_dtypes(include=['object', 'category', 'float64']).columns:
    print(f"--- {col} ---")
    print(df[col].value_counts(dropna=False))
    print("\n")

--- Mes ---
Mes
NOVIEMBRE     233
DICIEMBRE     196
JULIO         185
AGOSTO        183
OCTUBRE       145
SEPTIEMBRE    107
Name: count, dtype: int64


--- Entidad federativa ---
Entidad federativa
CIUDAD DE MEXICO       334
ESTADO DE MEXICO       186
OAXACA                 145
SINALOA                112
DURANGO                 65
CHIHUAHUA               34
VERACRUZ                29
YUCATAN                 22
MICHOACAN               20
NAYARIT                 19
COAHUILA                18
JALISCO                 16
PUEBLA                  13
QUINTANA ROO            11
BAJA CALIFORNIA SUR      9
CAMPECHE                 9
BAJA CALIFORNIA          3
SONORA                   2
SAN LUIS POTOSI          1
TAMAULIPAS               1
Name: count, dtype: int64


--- Nombre del edificio ---
Nombre del edificio
EDIFICIO SEDE, SAN BARTOLO COYOTEPEC OAX                                                                                                                                                              125
REVOLUCION 1508                                                                                                                                                                                       117
EDIFICIO SEDE MAZATLAN                                                                                                                                                                                112
SEDE TOLUCA                                                                                                                                                                                            91
EDIFICIO SEDE EN DURANGO                                                                                                                                                                               65
INSTITUTO FEDERAL DE DEFENSORIA PUBLICA                                                                                                                                                                60
EDIFICIO SEDE NEZAHUALCOYOTL                                                                                                                                                                           58
PERIFERICO 2321                                                                                                                                                                                        42
AJUSCO 170                                                                                                                                                                                             42
EDIFICIO NAUCALPAN                                                                                                                                                                                     37
SEDE XALAPA                                                                                                                                                                                            29
EDIFICIO SEDE JUAREZ, CH                                                                                                                                                                               25
EDIFICIO SEDE MERIDA                                                                                                                                                                                   22
EDIFICIO SEDE MORELIA                                                                                                                                                                                  20
TRIBUNAL LABORAL DE ASUNTOS INDIVIDUALES                                                                                                                                                               19
CENTRO DE JUSTICIA PENAL FEDERAL , TEPIC, NAYARIT                                                                                                                                                      19
FLORIDA                                                                                                                                                                                                17
CIUDAD JUDICIAL, ZAPOPAN                                                                                                                                                                               16
PRISMA                                                                                                                                                                                                 15
PERIFERICO SUR 1950                                                                                                                                                                                    13
AJUSCO 200                                                                                                                                                                                             13
SEDE CHOLULA                                                                                                                                                                                           13
EDIFICIO SEDE CANCUN                                                                                                                                                                                   11
CABALLITO DE MAR                                                                                                                                                                                        9
EDIFICIO SEDE CHIHUAHUA, CH                                                                                                                                                                             9
EDIFICIO SEDE LA PAZ BCS                                                                                                                                                                                9
TOLIMA 29                                                                                                                                                                                               7
LOS PASTORES                                                                                                                                                                                            6
SEDE SALTILLO                                                                                                                                                                                           6
CENTRO DE JUSTICIA PENAL FEDERAL, TORREON COAHUILA                                                                                                                                                      6
EDIFICIO SEDE SAN LAZARO                                                                                                                                                                                6
TORRE ZENTRUM                                                                                                                                                                                           3
PERIFERICO SUR 1950    COL. TLACOPAC, ALCALDIA ALVARO OBREGON,           C.P. 01049, EN LA CIUDAD DE MEXICO. EDIFICIO SEDE DEL PODER JUDICIAL DE LA FEDERACION, PERIFERICO SUR 1950, P.B. ALA SUR.      2
PRONAF                                                                                                                                                                                                  2
CENTRO DE JUSTICIA PENAL FEDERAL, TAMAULIPAS                                                                                                                                                            1
SEDE SLP                                                                                                                                                                                                1
TRIBUNALES EN MATERIA CIVIL Y ADMINISTRATIVA                                                                                                                                                            1
Name: count, dtype: int64


--- id_usuarias ---
id_usuarias
002WMGQ2024     59
002AGUV2024     58
002AKDM2024     54
002MTCV2024     51
002DLMS2024     47
                ..
002MSTC2024      1
002VMVC2024      1
002SZV2024       1
002CSC2024       1
002SSSAC2024     1
Name: count, Length: 74, dtype: int64


--- Ubicacion de la sala de lactancia ---
Ubicacion de la sala de lactancia
EDIF SEDE PJF SN BARTOLO COY. OAX.                                                                                                 125
AV. REVOLUCION NO. 1508, COL. GUADALUPE INN, ALCALDIA ALVARO OBREGON, CIUDAD DE MEXICO, C.P. 01020                                 117
AV. DR. NICOLAS SAN JUAN NO. 104, COL. LA MAGDALENA, C.P. 50010 TOLUCA, ESTADO DE MEXICO.                                           91
BLVD. JOSE MARIA PATONI NO.103 "A", COLONIA PREDIO EL TULE, DURANGO, DURANGO, C.P. 34217                                            65
BUCARELI 22 Y 24, COL. CENTRO, ALCALDIA CUAUHTEMOC, CIUDAD DE MEXICO, C.P. 06040.                                                   60
AV. OLAS ALTAS 1300, COL. CENTRO                                                                                                    59
PRIMER PISO TORRE A DEL EDIFICIO SEDE NEZAHUALCOYOTL                                                                                58
AV. OLAS ALTAS 1300, COL. CENTRO.                                                                                                   53
CARRETERA PICACHO AJUSCO 170, COLONIA JARDINES DE LA MONTANA, C.P. 14210, DEMARCACION TERRITORIAL TLALPAN                           42
BLVD. ADOLFO LOPEZ MATEOS 2321, COLONIA SAN ANGEL TLACOPAC, C.P.01760, CDMX                                                         42
BOULEVARD TOLUCA NO. 4 EN NAUCALPAN                                                                                                 37
AV. CULTURAS VERACRUZANAS N° 120  COL. RESERVA TERRITORIAL  C.P. 91096  EDIFICIO SEDE                                               29
AV. TECNOLOGICO NO. 1670, COL. FUENTES DEL VALLE, CD JUAREZ, CHIHUAHUA. C.P. 32500.                                                 25
CALLE 47 NO. 575H POR 84 Y 84A, COL. SANTA PETRONILA, MERIDA, YUCATAN C.P. 97070.                                                   22
EDIFICIO SEDE, PERIFERICO PASEO DE LA REPUBLICA (SECTOR NUEVA ESPANA) 3550, COLONIA 5 DE DICIEMBRE , CP 58280 MORELIA MICHOACAN     20
AVENIDA AGUAMILPA N° 275, COLONIA CIUDAD INDUSTRIAL, CP 63173, TEPIC, NAYARIT.                                                      19
INMUEBLE DEL PJF EN AV. INDEPENDENCIA OAXACA; OAX.                                                                                  19
AV. INSRUGENTES SUR # 1888, COL. FLORIDA, ALCALDIA ALVARO OBREGON, C.P.01030, CIUDAD DE MEXICO                                      17
ANILLO PERIFERICO PTE. MANUEL GOMEZ MORIN N° 7727, COL. FRACC. CIUDAD JUDICIAL FEDERAL                                              15
PERIFERICO SUR 1950, COL. TLACOPAC, ALCALDIA ALVARO OBREGON, C.P. 01049, CDMX. P.B. ALA SUR                                         15
AVENIDA INSURGENTES SUR 2065                                                                                                        15
CARRETERA PICACHO AJUSCO 200, COLONIA JARDINES DE LA MONTANA, C.P. 14210, DEMARCACION TERRITORIAL TLALPAN                           13
AVENIDA OSA MENOR NO. 82, CIUDAD JUDICIAL SIGLO XXI, SAN ANDRES CHOLULA, PUEBLA, C.P. 72810.                                        13
AVENIDA ANDRES QUINTANA ROO, N° 245, SM. 50, MZ57, L 01, C.P. 77534, CANCUN QUINTANA ROO. TORRE A, PLANTA BAJA                      11
CONCHA NACAR 4520 COL EL CONCHALITO C.P. 23090                                                                                       9
CALLE CABALLITO DE MAR 34, COL. PLAYA NORTE, CIUDAD DEL CARMEN, CAMPECHE, C.P. 24115.                                                9
AV. MIRADOR 6500 RESIDENCIAL CAMPESTRE WASHINGTON C.P. 31213                                                                         9
CALLE PICO DE TOLIMA 29, COLONIA JARDINES DE LA MONTANA, C.P. 14215, DEMARCACION TERRITORIAL TLALPAN                                 7
BOULEVARD NAZARIO ORTIZ GARZA, NO. 910, COL. SALTILLO 400, C.P. 25290                                                                6
EDUARDO MOLINA NO. 2, COL. DEL PARQUE, VENUSTIANO CARRANZA, C.P. 15960, CIUDAD DE MEXICO                                             6
BOULEVARD LOS PASTORES, NO. 2900, COL. LA PALMILLA, C.P. 25298, SALLTILLO                                                            6
BLVD. DE LOS GRANDES PINTORES N° 1705-A, COLONIA DESARROLLO CIUDAD NAZAS SAN ANTONIO, CP 27058, TORREON, COAHUILA                    6
DR. ATL NO. 2084, ZONA RIO, C.P. 22010                                                                                               3
CALLE OCHOA NUMERO 60 ENTRE AVENIDA PLUTARCO ELIAS CALLES Y ADOLFO LOPEZ MATEOS, COLONIA CENTRO CP 84000, NOGALES, SONORA.           2
PLANTA BAJA UBICADA EN EL ALA A                                                                                                      1
ANILLO PERIFERICO PTE. MANUEL GOMEZ MORIN NO. 7727 COL. FRACC. CIUDAD JUDICIAL FEDERAL                                               1
BLVD FIDEL VELAZQUEZ N° 1455, COL. ADOLFO LOPEZ MATEOS C.P. 87020, CD. VICTORIA, TAMAULIPAS                                          1
INMUEBLE DEL PJF EN AV. JUAREZ OAXACA; OAX.                                                                                          1
Name: count, dtype: int64


--- Edad ---
Edad
36.0    157
32.0    124
30.0    105
37.0     81
26.0     78
29.0     64
28.0     64
40.0     61
31.0     54
33.0     52
35.0     48
34.0     41
24.0     31
25.0     24
38.0     22
39.0     20
41.0      9
27.0      8
44.0      6
Name: count, dtype: int64


--- grup_edad ---
grup_edad
31-40    660
21-30    374
41-50     15
51+        0
Name: count, dtype: int64


--- Genero ---
Genero
FEMENINO     1048
MASCULINO       1
Name: count, dtype: int64


--- duracion ---
duracion
0.500000    273
0.333333    157
0.416667     68
0.250000     65
0.583333     51
0.666667     38
0.366667     28
0.383333     22
0.350000     21
0.466667     20
0.516667     19
0.750000     18
0.450000     17
0.550000     17
0.400000     17
0.300000     16
1.000000     15
0.266667     15
0.533333     13
0.833333     13
0.316667     13
0.633333     13
0.433333     12
0.566667      9
0.166667      9
0.200000      7
0.283333      7
0.483333      7
0.916667      6
0.616667      6
0.783333      5
0.883333      4
0.800000      4
0.233333      4
0.683333      4
0.600000      4
0.950000      3
0.966667      3
1.050000      2
0.216667      2
0.900000      2
0.650000      2
0.733333      2
0.866667      2
0.133333      2
0.766667      2
0.716667      2
0.983333      1
1.150000      1
2.266667      1
0.933333      1
0.000000      1
1.916667      1
0.816667      1
0.700000      1
Name: count, dtype: int64


--- Fecha (DD/MM/AAAA) ---
Fecha (DD/MM/AAAA)
2024-11-19    18
2024-07-05    18
2024-12-04    17
2024-12-03    16
2024-12-02    16
              ..
2024-08-10     1
2024-11-01     1
2024-10-13     1
2024-10-01     1
2024-08-17     1
Name: count, Length: 150, dtype: int64

In [41]:
df.groupby('Entidad federativa')['duracion'].agg(['count', 'mean', 'sum']).reset_index()

     Entidad federativa  count      mean         sum
0       BAJA CALIFORNIA      3  0.388889    1.166667
1   BAJA CALIFORNIA SUR      9  0.425926    3.833333
2              CAMPECHE      9  0.744444    6.700000
3             CHIHUAHUA     34  0.474510   16.133333
4      CIUDAD DE MEXICO    334  0.458832  153.250000
5              COAHUILA     18  0.430556    7.750000
6               DURANGO     65  0.457179   29.716667
7      ESTADO DE MEXICO    186  0.378047   70.316667
8               JALISCO     16  0.490625    7.850000
9             MICHOACAN     20  0.414167    8.283333
10              NAYARIT     19  0.426316    8.100000
11               OAXACA    145  0.465517   67.500000
12               PUEBLA     13  0.634615    8.250000
13         QUINTANA ROO     11  0.428788    4.716667
14      SAN LUIS POTOSI      1  1.916667    1.916667
15              SINALOA    112  0.531696   59.550000
16               SONORA      2  0.291667    0.583333
17           TAMAULIPAS      1  2.266667    2.266667
18             VERACRUZ     29  0.864368   25.066667
19              YUCATAN     22  0.592424   13.033333

In [45]:
df.to_csv("/Users/karlacruz/Desktop/MIDI/BD/salas.csv", index=False)

# Seguro de Gastos Médicos

In [86]:
sgmm = pd.read_csv('/Users/karlacruz/Desktop/MIDI/BD/SGMM_23_24.csv')

In [88]:
sgmm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1337 entries, 0 to 1336
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 1337 non-null   int64
 1   numero                     1337 non-null   int64
 2   mes                        1337 non-null   object
 3   estado                     1337 non-null   object
 4   ciudad                     1337 non-null   object
 5   adscripcion                1337 non-null   object
 6   circuito                   1337 non-null   int64
 7   nivel                      1337 non-null   object
 8   expediente                 1337 non-null   int64
 9   sp_homb_m                  1337 non-null   int64
 10  sp_hom_f                   1337 non-null   int64
 11  sp_muj_m                   1337 non-null   int64
 12  sp_muj_f                   1337 non-null   int64
 13  total_infancias_afiliadas  1337 non-null   int64
 14  total_ninas_afiliadas      1337 non-null   int64
 15  total_ninos_afiliados      1337 non-null   int64
 16  anno                       1337 non-null   int64
dtypes: int64(12), object(5)
memory usage: 177.7+ KB

In [90]:
sgmm.head()

,Unnamed: 0,numero,mes,estado,ciudad,adscripcion,circuito,nivel,expediente,sp_homb_m,sp_hom_f,sp_muj_m,sp_muj_f,total_infancias_afiliadas,total_ninas_afiliadas,total_ninos_afiliados,anno
0,0,1,ENERO,AGUASCALIENTES,AGUASCALIENTES,"ADMINISTRACION REGIONAL EN AGUASCALIENTES, AGU...",30,27,233234,1,0,0,0,1,0,1,2023
1,1,2,ENERO,AGUASCALIENTES,AGUASCALIENTES,TRIBUNAL COLEGIADO DE APELACION 30MO. CIRCUITO...,30,21,206519,0,1,0,0,1,1,0,2023
2,2,3,ENERO,BAJA CALIFORNIA,ENSENADA,"D.G.S.P. SERVICIO MEDICO EN ENSENADA, BAJA CAL...",15,21,231979,0,2,0,0,2,2,0,2023
3,3,4,ENERO,BAJA CALIFORNIA,MEXICALI,DEFENSORIA PUBLICA FEDERAL ADSCRITA A LA AMPF ...,15,27,204401,0,1,0,0,1,1,0,2023
4,4,5,ENERO,BAJA CALIFORNIA,MEXICALI,"JUZGADO 5TO DE DISTRITO EN MEXICALI, BAJA CALI...",15,7,45049,0,1,0,0,1,1,0,2023

In [108]:
sgmm['sexo_sp'] = ' '
sgmm['sp'] = 1

In [110]:
#Generar una variable categorica de sexo 
sgmm.loc[(sgmm['sp_muj_m'] >= 1) | (sgmm['sp_muj_f'] >= 1), 'sexo_sp'] = 'MUJER'
sgmm.loc[(sgmm['sp_homb_m'] >= 1) | (sgmm['sp_hom_f'] >= 1), 'sexo_sp']= 'HOMBRE'

In [112]:
for col in sgmm.select_dtypes(include=['object', 'category', 'float64']).columns:
    print(f"--- {col} ---")
    print(sgmm[col].value_counts(dropna=False))
    print("\n")

--- mes ---
mes
ENERO         156
ABRIL         137
JUNIO         137
MARZO         131
AGOSTO        129
OCTUBRE       129
MAYO          126
FEBRERO       118
SEPTIEMBRE     90
NOVIEMBRE      90
JULIO          76
DICIEMBRE      18
Name: count, dtype: int64


--- estado ---
estado
CIUDAD DE MEXICO       292
JALISCO                110
MEXICO                  80
NUEVO LEON              64
SINALOA                 60
COAHUILA                60
PUEBLA                  56
BAJA CALIFORNIA         53
TAMAULIPAS              51
VERACRUZ                41
SAN LUIS POTOSI         38
SONORA                  37
YUCATAN                 34
CHIHUAHUA               32
GUANAJUATO              31
NAYARIT                 29
GUERRERO                26
TABASCO                 26
MORELOS                 25
AGUASCALIENTES          25
QUERETARO               23
MICHOACAN               22
QUINTANA ROO            17
DURANGO                 16
CHIAPAS                 15
ZACATECAS               13
OAXACA                  13
TLAXCALA                12
HIDALGO                 12
CAMPECHE                10
COLIMA                   8
BAJA CALIFORNIA SUR      6
Name: count, dtype: int64


--- ciudad ---
ciudad
MEXICO                   292
ZAPOPAN                   94
MONTERREY                 64
TORREON                   38
SAN LUIS POTOSI           37
                        ...
CIUDAD VALLES              1
NUEVO LAREDO               1
CINTALAPA DE FIGUEROA      1
CIUDAD OBREGON             1
LEON                       1
Name: count, Length: 69, dtype: int64


--- adscripcion ---
adscripcion
COORDINACION DE SEGURIDAD DEL PODER JUDICIAL DE LA FEDERACION                                        14
DIRECCION GENERAL DE INMUEBLES Y MANTENIMIENTO                                                        8
DIRECCION GENERAL DE RECURSOS HUMANOS                                                                 7
JUZGADO 4TO DE DISTRITO EN MATERIA PENAL EN PUEBLA, PUEBLA                                            7
1ER TRIBUNAL COLEGIADO EN MATERIA DE TRABAJO DEL 10MO. CTO. EN VILLAHERMOSA                           6
                                                                                                     ..
1ER TRIBUNAL COLEGIADO DEL 19NO CIRCUITO, CON RESIDENCIA EN REYNOSA, TAMAULIPAS                       1
1ER. TRIBUNAL COLEGIADO DE CTO. DEL CENTRO AUXILIAR DE LA 2DA. REGION, SAN ANDRES CHOLULA, PUEBLA     1
DELEGACION DEL INSTITUTO FEDERAL DE DEFENSORIA PUBLICA EN PUEBLA                                      1
OFICINA DE CORRESP. COMUN TRIB. LAB. FED. DE ASUNTOS INDIVIDUALES, EN MONTERREY, NUEVO LEON           1
JUZGADO DE DISTRITO EN MATERIA MERCANTIL FEDERAL EN MERIDA, YUCATAN                                   1
Name: count, Length: 774, dtype: int64


--- nivel ---
nivel
27     626
13C    141
13A    114
21     112
25      67
24      46
28      42
21A     34
7       30
24A     27
32      21
16A     19
6       10
11       9
26       7
13       6
30       6
12       5
29       5
31       4
20       3
20A      1
09B      1
14       1
Name: count, dtype: int64


--- sexo_sp ---
sexo_sp
HOMBRE    751
MUJER     586
Name: count, dtype: int64

In [114]:
sgmm.head()

,Unnamed: 0,numero,mes,estado,ciudad,adscripcion,circuito,nivel,expediente,sp_homb_m,sp_hom_f,sp_muj_m,sp_muj_f,total_infancias_afiliadas,total_ninas_afiliadas,total_ninos_afiliados,anno,sexo_sp,sp
0,0,1,ENERO,AGUASCALIENTES,AGUASCALIENTES,"ADMINISTRACION REGIONAL EN AGUASCALIENTES, AGU...",30,27,233234,1,0,0,0,1,0,1,2023,HOMBRE,1
1,1,2,ENERO,AGUASCALIENTES,AGUASCALIENTES,TRIBUNAL COLEGIADO DE APELACION 30MO. CIRCUITO...,30,21,206519,0,1,0,0,1,1,0,2023,HOMBRE,1
2,2,3,ENERO,BAJA CALIFORNIA,ENSENADA,"D.G.S.P. SERVICIO MEDICO EN ENSENADA, BAJA CAL...",15,21,231979,0,2,0,0,2,2,0,2023,HOMBRE,1
3,3,4,ENERO,BAJA CALIFORNIA,MEXICALI,DEFENSORIA PUBLICA FEDERAL ADSCRITA A LA AMPF ...,15,27,204401,0,1,0,0,1,1,0,2023,HOMBRE,1
4,4,5,ENERO,BAJA CALIFORNIA,MEXICALI,"JUZGADO 5TO DE DISTRITO EN MEXICALI, BAJA CALI...",15,7,45049,0,1,0,0,1,1,0,2023,HOMBRE,1

In [118]:
sgmm.groupby('sexo_sp')['sp'].agg(['count', 'mean', 'sum']).reset_index()

  sexo_sp  count  mean  sum
0  HOMBRE    751   1.0  751
1   MUJER    586   1.0  586

In [130]:
sgmm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1337 entries, 0 to 1336
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 1337 non-null   int64
 1   numero                     1337 non-null   int64
 2   mes                        1337 non-null   object
 3   estado                     1337 non-null   object
 4   ciudad                     1337 non-null   object
 5   adscripcion                1337 non-null   object
 6   circuito                   1337 non-null   int64
 7   nivel                      1337 non-null   object
 8   expediente                 1337 non-null   int64
 9   sp_homb_m                  1337 non-null   int64
 10  sp_hom_f                   1337 non-null   int64
 11  sp_muj_m                   1337 non-null   int64
 12  sp_muj_f                   1337 non-null   int64
 13  total_infancias_afiliadas  1337 non-null   int64
 14  total_ninas_afiliadas      1337 non-null   int64
 15  total_ninos_afiliados      1337 non-null   int64
 16  anno                       1337 non-null   int64
 17  sexo_sp                    1337 non-null   object
 18  sp                         1337 non-null   int64
dtypes: int64(13), object(6)
memory usage: 198.6+ KB

In [132]:
var = [
'mes',
'estado',
'ciudad',
'adscripcion',
'nivel',
'circuito',
'total_infancias_afiliadas',
'total_ninas_afiliadas',
'total_ninos_afiliados',
'anno',
'sexo_sp',
'sp',
]
#Censo ofrece del total cuantos accedieron y aquí vemos solo de organos jurisdiccionales
#% de personal organismos jurisdiccionales que afilio a SGMM por sexo y entidad, cargo

In [134]:
df_SGMM = sgmm[var]
df_SGMM

,mes,estado,ciudad,adscripcion,nivel,circuito,total_infancias_afiliadas,total_ninas_afiliadas,total_ninos_afiliados,anno,sexo_sp,sp
0,ENERO,AGUASCALIENTES,AGUASCALIENTES,"ADMINISTRACION REGIONAL EN AGUASCALIENTES, AGU...",27,30,1,0,1,2023,HOMBRE,1
1,ENERO,AGUASCALIENTES,AGUASCALIENTES,TRIBUNAL COLEGIADO DE APELACION 30MO. CIRCUITO...,21,30,1,1,0,2023,HOMBRE,1
2,ENERO,BAJA CALIFORNIA,ENSENADA,"D.G.S.P. SERVICIO MEDICO EN ENSENADA, BAJA CAL...",21,15,2,2,0,2023,HOMBRE,1
3,ENERO,BAJA CALIFORNIA,MEXICALI,DEFENSORIA PUBLICA FEDERAL ADSCRITA A LA AMPF ...,27,15,1,1,0,2023,HOMBRE,1
4,ENERO,BAJA CALIFORNIA,MEXICALI,"JUZGADO 5TO DE DISTRITO EN MEXICALI, BAJA CALI...",7,15,1,1,0,2023,HOMBRE,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1332,NOVIEMBRE,TAMAULIPAS,CIUDAD VICTORIA,DELEGACION DEL IFDP TAMAULIPAS,24,19,1,1,0,2024,HOMBRE,1
1333,NOVIEMBRE,TAMAULIPAS,CIUDAD VICTORIA,"JUZGADO 14TO DE DISTRITO EN CD. VICTORIA, TAMA...",25,19,1,0,1,2024,MUJER,1
1334,NOVIEMBRE,VERACRUZ,VILLA ALDAMA,"D.G.S.P. SERVICIO MEDICO EN VILLA ALDAMA, VERA...",27,7,1,1,0,2024,HOMBRE,1
1335,NOVIEMBRE,YUCATAN,MERIDA,JUZGADO DE DISTRITO EN MATERIA MERCANTIL FEDER...,27,14,1,1,0,2024,MUJER,1
1336,NOVIEMBRE,YUCATAN,MERIDA,TRIBUNAL COLEGIADO EN MATERIAS DE TRABAJO Y AD...,13A,14,1,0,1,2024,HOMBRE,1

In [136]:
print(df_SGMM.isnull().sum())

mes                          0
estado                       0
ciudad                       0
adscripcion                  0
nivel                        0
circuito                     0
total_infancias_afiliadas    0
total_ninas_afiliadas        0
total_ninos_afiliados        0
anno                         0
sexo_sp                      0
sp                           0
dtype: int64

In [140]:
df_SGMM.to_csv("/Users/karlacruz/Desktop/MIDI/BD/sgmm.csv", index=False)